* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: black;
}

body {
    background-image: url("bg2.jpg");
    background-color: rgb(245, 240, 240);
  }

  h1 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 0px;
  }

  .subt {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

div {
    margin: auto;
    width: 60%;
}

header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

img:hover {
    opacity: 0.8;
}

@media (max-width: 800px) {
    img {
      width: 80%;
    }
  }

.flex-container {
    display: flex;
    flex-direction: row;
    width: 70%;
  }
  
  @media (max-width: 1650px) {
    .flex-container {
      flex-direction: column;
      width: 100%;
    }
  }

.flex-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.itemt {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-size-adjust: 100%;
    font-size: 25px;
    padding-top: 15px;
}

.items {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-size-adjust: 100%;
    font-size: 15px;
    padding: 0px;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  background-color: rgb(211, 216, 219);
}